html
    head
        title History of Fairlie, North Ayrshire, Scotland | fairlie.org
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" type="image/png" href="/img/yacht-icon.png" sizes="/img/yacht-icon.png")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47469898-1', 'fairlie.org');
            ga('send', 'pageview');
    body
        ul(id="nav")
            li
                a(href="/") Home
            li
                a(href="/businesses/") Businesses
            li
                a(href="/community-groups") Community Groups
            li
                a(href="/places-of-interest") Places of Interest
            li
                a(href="/moving-here") Moving to Fairlie
            li(title="History of Fairlie") History

        h1 History of Fairlie, North Ayrshire

        if historicalArticles.length
            section#history
                ol(class="cf items")
                    for article in historicalArticles
                        li
                            if article.link
                                a(href=article.link)= article.title
                            else
                                =article.title
                            if article.source
                                .source
                                    = '(' + article.source + ')'
        else
            p No articles

        if historicalPlaces.length
            section(id="historical-places")
                h2 Historical places of interest around Fairlie
                ol(class="cf items")
                    for place in historicalPlaces
                        li
                            if place.link
                                a(href=place.link)= place.title
                            else
                                =place.title
                            if place.notes
                                .notes
                                    = '(' + place.notes + ')'

        section(id="tell-your-story")
            p Do you have a story to tell about Fairlie's past?
                = ' ' 
                a(href="/contact-us") Contact us
                = ' '
                | with details and we'll be happy to include it here on 
                em fairlie.org
                | .

        p &copy; 2016 fairlie.org | 
            a(href="/contact-us") Contact Us
            = ' | '
            a(href="/contact-us") Advertise
            = ' | '
            a(href="/sitemap") Sitemap

